<script type="text/javascript">
  swfobject.embedSWF("/open-flash-chart.swf", "{% block div %} {% endblock %}", "{% block width %}250{% endblock %}", "{% block height %}200{% endblock %}", "9.0.0","expressInstall.swf", {"data-file": "{% block data %} {% endblock %}"}, { "wmode" : "transparent" });
</script>  
<div class="graph" id="{% block div_show %}{% endblock %}"></div>

