<table class="lista" style="width:100%;">
  <tr>
    <th colspan="6">Principales oportunidades en espera de respuesta</th>
  </tr>
  <tr>
    <th>OPORTUNIDAD</th>
    <th>MONTO</th>
    <th>F. ENTREGA</th>
    <th>CLIENTE</th>
    <th>RESPONSABLE</th>
    <th>OBSERVACIONES</th>
  </tr>
  <tr>
    <td>OPRTUNIDAD</td>
    <td>MONTO</td>
    <td>F. ENTREGA</td>
    <td>CLIENTE</td>
    <td>RESPONSABLE</td>
    <td>OBSERVACIONES</td>
  </tr>
</table>
