{% extends '::base.html.twig' %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{{ path('default_index') }}">Inicio</a></li>
  <li class="active">Cambiar password</li>
</ol>
{% endblock %}

{% block body -%}
    
    {{ form(edit_form) }}

{% endblock %}
